@model MyNaggingMom.Models.CatBox

@{
    ViewBag.Title = "Clean";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catbox Cleaned!</h2>

<table>
    <tr>
        <td>
            <b>Deadline for the next cleaning: </b>
        </td>
        <td>
            @Model.TimeToCleanAgain
        </td>
    </tr>
</table>