

@{
    ViewBag.Title = "Clean";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catbox Cleaned!</h2>

<table>
    <tr>
        <th>
            Deadline for the next cleaning: 
        </th>
        <td>
            @Model.TimeToCleanAgain.ToString("f")
        </td>
    </tr>
</table>