
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cat Box</h2>

<table class="table-responsive">
    <tr>
        <th>
            Time the cat box was last cleaned: 
        </th>
        <td>
            @Model.LastTimeCleaned.AddHours(-5).ToString("f") CST
        </td>
    </tr>
    <tr>
        <th>
            Deadline for the next cleaning: 
        </th>
        <td>
            @Model.TimeToCleanAgain.AddHours(-5).ToString("f") CST
        </td>
    </tr>
</table>