@model DoYourChores.Models.CatBox

@{
    ViewBag.Title = "Do Your Chores!";
}

<div class="jumbotron">
 
    <h2>Cat Box</h2>
    <h2 style="color:green">@Model.Message</h2>

    <table class="table-responsive">
        <tr>
            <th>
                Time the cat box was last cleaned:
            </th>
            <td>
                @Model.LastTimeCleaned.AddHours(-5).ToString("f") CST
            </td>
        </tr>
        <tr>
            <th>
                Deadline for the next cleaning:
            </th>
            <td>
                @Model.TimeToCleanAgain.AddHours(-5).ToString("f") CST
            </td>
        </tr>
    </table>
    <br/>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Clean the Cat Box &raquo;"), "Clean", "CatBox", null, new { @class = "btn btn-primary" })</p>
</div>
